
.file-tree-entry-text {
    display: inline-block;
    text-overflow: ellipsis;
}

.file-tree-entry-text:hover {
    background-color: brown;
}

.file-tree {
    flex: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-tree-wrapper {
    background-color: bisque;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
}
