.app {
    display: flex;
    flex-direction: row;
}

.file-tree-container {
    background-color: bisque;
    max-width: 18em;
}

.text-editor-container {
    width: 100%;
    background-color: brown;
}
